@page
@using Models
@model TeamOrganiser.Pages.FootballGames.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FootballGame</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FootballGame.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FootballGame.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FootballGame.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FootballGame.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FootballGame.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FootballGame.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FootballGame.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FootballGame.Duration)
        </dd>
    </dl>

    <h3>Team One</h3>
    <table class="table">
        <tr>
            <th>Players</th>
            <th>Rating</th>
            <th>Chemistry</th>
        </tr>
        <tr>
            <td>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Rating</th>
                    </tr>
                    
                    @foreach (FootballPlayer p in Model.TeamA.FootballPlayers)
                    {
                        <tr>
                            <td>@p.FirstName @p.LastName</td>
                            <td>@p.Rating</td>
                        </tr>
                    }
                    
                </table>
            </td>
            <td>@Model.TeamA.TeamRating</td>
            <td>@Model.TeamA.TeamChemistryRating</td>
        </tr>
    </table>

    <h1>Versus</h1>

    <h3>Team Two</h3>
    <table class="table">
        <tr>
            <th>Players</th>
            <th>Rating</th>
            <th>Chemistry</th>
        </tr>
        <tr>
            <td>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Rating</th>
                    </tr>
                    
                    @foreach (FootballPlayer p in Model.TeamB.FootballPlayers)
                    {
                        <tr>
                            <td>@p.FirstName @p.LastName</td>
                            <td>@p.Rating</td>
                        </tr>
                    }
                    
                </table>
            </td>
            <td>@Model.TeamB.TeamRating</td>
            <td>@Model.TeamB.TeamChemistryRating</td>
        </tr>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FootballGame.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
