@page
@model TeamOrganiser.IndexModel


@{
    ViewData["Title"] = "Accounts";
}

<h1 class="display-4">Accounts</h1>

<medium class="text-muted">
    Manage accounts. Add another manager or coach.
</medium>

<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        Create New
    </button>
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAccount[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccount[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccount[0].AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccount[0].Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserAccount)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>

                    <a asp-page="./EditAccount" asp-route-id="@item.ID">Edit Account</a>
                </td>
            </tr>
        }

    </tbody>
</table>



@section scripts {
    <script type="text/javascript">

        function newTask() {

            $.ajax({
                type: "GET",
                url: "Accounts/Edit?handler=UserAccount/3",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    console.log(response)
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }


    </script>
}