@page
@model TeamOrganiser.IndexPlayersModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4" style="padding-left: 10px;">Players</h1>

<medium class="text-muted" style="padding-left: 10px;">
    Manage accounts. Add another manager or coach.
</medium>

<div>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal" style="margin: 10px;">
        Create New
    </button>
</div>

<table class="table table-striped table-bordered" id="table_players">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].ContactNumber)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Player)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal" onclick="loadEdit(@item.Id)">Edit</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDelete(@item.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Pages/Shared/_SuccessModal.cshtml")
@await Html.PartialAsync("~/Pages/Shared/_ErrorModal.cshtml")
@await Html.PartialAsync("~/Pages/Players/_CreateFormModal.cshtml")
@await Html.PartialAsync("~/Pages/Players/_EditFormModal.cshtml")
@await Html.PartialAsync("~/Pages/Players/_DeleteWarningModal.cshtml")

@section scripts {
    <script>

        function createModal() {
            $.post('Players/Create', $('#createForm').serialize(), function (data) {
                $('#createModal').modal('toggle');
                if (data.substring(0, 5) != "Error") {
                    $('#successModalMessage').text(data);
                    $('#success_tic').modal('toggle');

                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
                else {
                    $('#errorModalMessage').text(data);
                    $('#errorModal').modal('toggle');
                }

            });
        }

        function loadEdit(id) {
            $.getJSON("Players/Edit", { id: id }, function (data) {
                console.log(data)
                $('#inputEditID').val(id);
                $('#inputEditFirstName').val(data.firstName);
                $('#inputEditLastName').val(data.lastName);
                $('#inputEditEmail').val(data.email);
                $('#inputEditPhoneNumber').val(data.contactNumber);
                $('#editFootball').prop('checked', data.football); 
                $('#editHockey').prop('checked', data.hockey);
                $('#editBasketball').prop('checked', data.basketball);
            })
                .fail(function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    console.log('Error - ' + errorMessage);
                })
        }

        function editModel() {
            // TODO
        }

        function loadDelete(id) {
            $.getJSON("Players/Delete", { id: id }, function (data) {
                event.preventDefault();
                $('#deleteWarningMsge').text("Are you sure you want to delete " + data.firstName + "? This action cannot be undone");
                $('#deleteModalButton').attr('onClick', 'deleteModal(' + id + ')');
            })
                .fail(function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    console.log('Error - ' + errorMessage);
                })
        }

        function deleteModal(id) {
            $.post("Players/Delete", { id: id, __RequestVerificationToken: gettoken() }, function (data) {
                if (data.substring(0, 5) != "Error") {
                    $('#deleteModal').modal('toggle');
                    $('#successModalMessage').text(data);
                    $('#success_tic').modal('toggle');

                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
                else {
                    $('#errorModalMessage').text(data);
                    $('#errorModal').modal('toggle');
                }

            })
                .fail(function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    console.log('Error - ' + errorMessage);
                })
        }

        $(document).ready(function () {
            $('#table_players').dataTable();
        });

        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

    </script>
}